body{
    background-color: azure;
    font-family: monospace;
}
*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
.header{
    background-color: black;
    padding: 20px 0px 20px 0px;
}

h1{
    text-transform: capitalize;
    text-align: center;
    text-decoration: dotted;
    color: white;
    font-family: monospace;
    padding-top: 10px;
}
.con{
    max-width: 1100px;
    margin: 0 auto;
}
.cards{
    width: 100%;
    height: auto;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 80px 0px 80px 0px;
}

.card{
    border-radius: 20px;
    background-color: white;
    width: 250px;
    height: 300px;
}
.card:hover{
    box-shadow: 0px 0px 1px 1px black;
    transition: ease-in-out;
    transition-duration: 0.3s;
}
.img img{
    width: 250px;
    height: 160px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.btn{
    padding-top: 30px;
    padding-left: 10px;
}
.btn a{
    text-decoration: none;
    border: 1px solid black;
    padding: 10px 15px;
    color: black;
    text-transform: capitalize;
}
.btn a:hover{
 background-color: black;
 transition: 0.4s all;
 color: white;   
 cursor: pointer;
}
.name p {
font-size: 18px;
padding-left: 10px;
padding-bottom: 8px;
text-transform: capitalize;
}
.title p{
    font-size: 14px;
    padding-left: 10px;
    text-transform: capitalize;
}
